/* 컨테이너 설정 */
.how-to-use-container {
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
    position: relative; 

  }
  
  /* 제목 스타일 */
  .how-to-use-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
    color: #333;
    font-weight: bold;
  }
  
  /* 이미지 컨테이너 설정 */
  .image-container {
    margin-bottom: 20px;
    text-align: center;
    position: relative; 
  }
  
  /* 이미지 스타일 */
  .how-to-use-image {
    width: 100%; 
    max-width: 700px; 
    border-radius: 10px;
    margin-bottom: 30px;
  }
  
  /* 버튼 스타일 */
  .how-to-use-button {
    display: inline-block;
    padding: 15px 20px;
    background-color: #CDEBDE;
    color: #079B59;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%; 
    box-sizing: border-box; 
    line-height: 1.5; 
    text-align: center; 
    font-size: 20px;
  }
  
  .how-to-use-button:hover {
    background-color: #9fdbc1; 
  }
  

/* 뒤로가기 버튼 */
.goback-button {
  position: relative; 
  top: 58px;
  left: -20px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px; 
  height: 50px;
  padding: 0;
  z-index: 1000; 
}

.goback-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}